#logo {
  width: 40%;
  margin: 40px 30%;
}

.cls-1 {
  fill: #fff;
}
.cls-2 {
  fill: #420;
}
.cls-3 {
  fill: #000;
}

#logo svg {
  width: 100%;
  height: auto;
}

svg g,
svg path {
  transform-origin: center;
}

#moustache-left {
  transform-origin: top right;
}

#moustache-right {
  transform-origin: top left;
}

#eyebrow-left .eyebrow-outer {
  transform-origin: top left;
}
#eyebrow-left .eyebrow-inner {
  transform-origin: top left;
}

#eyebrow-right .eyebrow-outer {
  transform-origin: top left;
}
#eyebrow-right .eyebrow-inner {
  transform-origin: top right;
}
